@import url("https://fonts.googleapis.com/css2?family=Anta&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT Variables */
:root {
    --almostBlack: #161616;
    --almostWhite: #e5e5e5;
    --bluegray: #7b9fae;
    --gold: #cf911c;
    
    --fontBig: "Anta", sans-serif;
    --fontOther: "Montserrat", sans-serif;
}

body {
    /* max-width: 1280px; */
    font-family: var(--fontBig);
    flex-direction: column;
    align-items: center;
    margin: auto;  
    background-color: var(--almostBlack);
}

header {
    background-color: var(--almostBlack);
    max-width: 1280px;
    margin: auto;
}
header svg {
    float: left;
    width: 100px;
    height: 100px;
    stroke: var(--almostWhite);
    fill: var(--almostWhite);
    margin: 10px;
    padding: 10px;
}
h1 {
    text-align: left;
    padding-top: 10px;
    color: var(--almostWhite);
    font-size: 5em;
    font-weight: bold;
}

header p {
    font-size: 2em;
    color: var(--almostWhite);
    text-align: left;
    margin-top: 0;
    padding-bottom: 30px;
}

nav {
    display: flex;
    background-color: var(--bluegray);
    align-items: center;
    justify-content: space-evenly;
    max-width: 1280px;
    margin: auto;
    color: var(--almostBlack);
}

nav a {
    text-decoration: none;
    color: var(--almostBlack);
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: auto;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

#asteroids {
    display: flex;
    max-width: 1280px;
    margin: auto;
}

#about {
    max-width: 1240px;
    /* border: 4px solid var(--bluegray);
    border-radius: 15px;
    box-shadow: 8px 8px 5px var(--almostBlack); */
    background-color: var(--almostWhite);
    margin:auto;
    padding: 40px 20px 80px 20px;
    border-bottom: 5px solid var(--bluegray);
}

main p {
    font-family: var(--fontOther);
    font-size: 1.3em;
    font-weight: 400;
    padding: 20px 0px 10px 0px;
    line-height: 1.4;
}

p i{
    font-style: italic;
}

#products {
    max-width: 1240px;
    /* border: 4px solid var(--bluegray);
    border-radius: 15px;
    box-shadow: 8px 8px 5px var(--almostBlack); */
    background-color: var(--almostWhite);
    margin:auto;
    padding: 40px 20px 80px 20px;
    align-items: center;
}

#products div {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0px 120px;
}

#products p {
    text-align: center;
}

#productCards figure {
    width: 400px;
    min-height:500px;
    margin: 30px;
    /* border: 3px solid var(--bluegray); */
    border-radius: 10px;
    box-shadow: 6px 6px 5px var(--almostBlack);
    padding: 10px;
}

.prodCard {
        border: 3px solid var(--bluegray);

}

.prodPic {
   max-width: 400px;

}

.prodCard h3 {
    font-size: 2.1em;
    font-weight: bold;
    color: var(--gold);
    margin-bottom: 10px; 
}

.prodCard figcaption {
    font-family: var(--fontOther);
    font-size: 1em;
    color: var(--almostBlack);
    margin: 10px 0px
}

figure.TS {
    display: flex;
    flex-direction: column;
    border: 8px dashed red;
    border-radius: 10px;
    padding: 10px;
}

figure.TS h3 {
    text-align: center;
     font-size: 2.1em;
    font-weight: bold;
    color: red;
}


figure.TS p {
    font-weight: 500;
    font-size: 1.7em;
    color: red;
    vertical-align: center;
}




figure button {
    float: right;
    background-color: var(--bluegray);
    font-family: var(--fontBig);
    font-weight: bold;
    color: var(--almostBlack);
    border: 2px solid var(--almostWhite);
    border-radius: 10px;
    box-shadow: 4px 4px 3px var(--almostBlack);

}

figure button:hover {
    background-color: var(--almostBlack);
    font-family: var(--fontBig);
    font-weight: bold;
    color: var(--almostWhite);
    border: 2px solid var(--bluegray);
    border-radius: 10px;
    
}

figure button:active {
    background-color: var(--almostBlack);
    font-family: var(--fontBig);
    font-weight: bold;
    color: var(--almostWhite);
    border: 2px solid var(--bluegray);
    border-radius: 10px;
    box-shadow: none;
    translate: 3px 3px;
}

#contact {
    max-width: 1240px;
    /* border: 4px solid var(--bluegray);
    border-radius: 15px;
    box-shadow: 8px 8px 5px var(--almostBlack); */
    background-color: var(--bluegray);
    margin:auto;
    margin-bottom: 40px;
    padding: 40px 20px 80px 20px;
    align-content: center;
}

#contact p {
    text-align: center;
}

#contact div {
    display: flex;
    margin: auto;
    padding: 40px 120px;  
}

#contact form {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    width: 500px;
}



