@import url("https://fonts.googleapis.com/css2?family=Anta&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ROOT Variables */
:root {
    --almostBlack: #161616;
    --almostWhite: #e5e5e5;
    --bluegray: #7b9fae;
    --gold: #cf911c;
    
    --fontBig: "Anta", sans-serif;
    --fontOther: "Montserrat", sans-serif;
}

body {
    /* max-width: 1280px; */
    font-family: var(--fontBig);
    flex-direction: column;
    align-items: center;
    margin: auto;  
    background-color: var(--almostBlack);
}



header {
    background-color: var(--almostBlack);
    max-width: 1280px;
    margin: auto;
}

.daynight {
    background: transparent;
    border: none;
}

.daynight:hover path {
    fill: var(--gold);
    cursor: pointer;
}
#sol {
    width: 30px;
    height: 30px;
    float: right;
    position: relative;
    top: 20px;
    right: 20px;
}

#luna {
    width: 30px;
    height: 30px;
    float: right;
    position: relative;
    top: 20px;
    right: 20px;
}



#opa {
    float: left;
    width: 100px;
    height: 100px;
    stroke: var(--almostWhite);
    fill: var(--almostWhite);
    margin: 10px;
    padding: 10px;
}
h1 {
    text-align: left;
    padding-top: 10px;
    color: var(--almostWhite);
    font-size: 5em;
    font-weight: bold;
}

header p {
    font-size: 2em;
    color: var(--almostWhite);
    text-align: left;
    margin-top: 0;
    padding-bottom: 30px;
}

nav {
    display: flex;
    background-color: var(--bluegray);
    align-items: center;
    justify-content: space-evenly;
    max-width: 1280px;
    margin: auto;
    color: var(--almostBlack);
}

nav a {
    text-decoration: none;
    color: var(--almostBlack);
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin: auto;
    text-align: center;
}

h2 {
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

#asteroids {
    display: flex;
    max-width: 1280px;
    margin: auto;
}

.about {
    max-width: 1240px;
    background-color: var(--almostWhite);
    margin:auto;
    padding: 40px 20px 80px 20px;
    border-bottom: 5px solid var(--bluegray);
    justify-content: center;
}

.about > p {
    max-width: 1000px;
    margin: auto;
}

main p {
    font-family: var(--fontOther);
    font-size: 1.3em;
    font-weight: 400;
    padding: 20px 0px 10px 0px;
    line-height: 1.4;
}

p i{
    font-style: italic;
}

.products {
    max-width: 1240px;
    background-color: var(--almostWhite);
    margin:auto;
    padding: 40px 20px 80px 20px;
    align-content: center;
    justify-content: center;
}

.products div {
    display: grid;
    grid-template-columns: 500px 500px;
    margin: auto;
    justify-content: center;
}

.products > p {
    text-align: center;
}

.productCards > div {
    /* display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    justify-content: center; */
    width: 400px;
    min-height:500px;
    margin: 30px;
    /* border: 3px solid var(--bluegray); */
    border-radius: 10px;
    box-shadow: 6px 6px 5px var(--almostBlack);
    padding: 10px;
}

div.prodCard {
    display: flex;
    flex-direction: column;
    border: 3px solid var(--bluegray);
    justify-items: center;
    
}

figure img {
    max-width: 400px;
    
}

h3 {
    font-size: 2.1em;
    font-weight: bold;
    color: var(--gold);
    margin-bottom: 10px; 
}

figcaption {
    font-family: var(--fontOther);
    font-size: 1em;
    color: var(--almostBlack);
    margin: 10px 0px
}

div.TS {
    display: flex;
    flex-direction: column;
    border: 8px dashed red;
    border-radius: 10px;
    padding: 10px;    
    width: 400px;
    min-height:500px;
    margin: 30px;
    /* border: 3px solid var(--bluegray); */
    border-radius: 10px;
    box-shadow: 6px 6px 5px var(--almostBlack);
    /* padding: 10px; */
    
}

.TS article h3 {
    text-align: center;
    font-size: 3.2em;
    font-weight: bold;
    color: red;
}


.TS article p {
    font-weight: 500;
    font-size: 1.7em;
    color: red;
    vertical-align: center;
    text-align: center;
    justify-items: center;
}

#cart {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: var(--bluegray);
    justify-self: right;
    justify-items: center;
    align-items: center;
    position: relative;
}

#cart article {
    display: grid;
    grid-template-columns: 90px 90px;
    gap: 10px 20px;
    justify-items: center;
    border-top: 3px solid var(--gold);
    padding-top: 15px;
    position: absolute;
    bottom: 60px;
}


#cart button {
    background-color: var(--gold);
    width: 180px;
    position: absolute;
    bottom: 10px;
    font-size: 1em;
}

h4 {
    font-size: 1.1em;
    font-weight: bold;
    background-color: var(--almostBlack);
    border-radius: 5px;
    padding: 10px;
    color: var(--gold);
    outline: 3px dashed var(--gold);
    outline-offset: -3px;
    position: absolute;
    top: 10px;
}

.buttons {
    float: right;
    background-color: var(--bluegray);
    font-family: var(--fontBig);
    font-weight: bold;
    color: var(--almostBlack);
    border: 2px solid var(--almostWhite);
    border-radius: 10px;
    box-shadow: 4px 4px 3px var(--almostBlack);
    padding: 10px 0px;
    margin-top: 10px;
    
}

.buttons:hover {
    background-color: var(--almostBlack);
    font-family: var(--fontBig);
    font-weight: bold;
    color: var(--almostWhite);
    border: 2px solid var(--bluegray);
    border-radius: 10px;
    
}

.buttons:active {
    background-color: var(--almostBlack);
    font-family: var(--fontBig);
    font-weight: bold;
    color: var(--almostWhite);
    border: 2px solid var(--bluegray);
    border-radius: 10px;
    box-shadow: none;
    translate: 3px 3px;
}

.contact {
    max-width: 1240px;
    background-color: var(--bluegray);
    margin:auto;
    padding: 40px 20px 80px 20px;
    align-content: center;
}

.contact p {
    text-align: center;
}

.contact div {
    display: grid;
    grid-template-columns: 500px 500px;
    justify-content: center;
    margin: auto;
    padding: 40px 100px;  
}

.contact form {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

footer {
    max-width: 1280px;
    padding: 0px 0px 10px;
    margin: auto;
    margin-top: 0px;
    align-items: center;
}
address {
    text-align: center;
    padding: 30px 0px;
    
}
address p {
    color: var(--almostWhite);
    font-family: var(--fontOther);
    font-weight: 600;
    line-height: 1em;
    
}

address a {
    text-decoration: none;
    color: var(--gold);
    font-family: var(--fontOther);
    font-weight: 600;
}

section.night {
    background-color: var(--almostBlack);
    color: var(--almostWhite);
    border-bottom: 5px solid var(--gold);
    
}

figcaption.night {
    color: var(--almostWhite);
}

.errorSpan {
    font-family: var(--fontOther);
    font-weight: bold;
    color: red;
    padding: 5px 0px;
}

#validForm {
    font-weight: bold;
    color: var(--gold);
    background-color: var(--almostBlack);
    border-radius: 15px;
    margin: 20px 0px;
    padding: 10px;
}

#validForm a {
    color: var(--bluegray);
}


.hidden {
    display: none;
}

div.hidden {
    display: none;
}

